.about-container {
  max-width: 800px;     
  margin: 50px auto;     
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

.about-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #a184d8;  
}

.about-container p {
  font-size: 1rem;
  margin-bottom: 15px;
}


@media (max-width: 768px) {
  .about-container {
    margin: 30px 15px;
    padding: 15px;
  }

  .about-container h1 {
    font-size: 1.5rem;
  }

  .about-container p {
    font-size: 0.95rem;
  }
}
