.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}

.modal-content-details {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 600px;
  border-radius: 15px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content-form {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.header{
  margin-bottom: 10px;
  text-align: center;
  color: gray;
}

.modal-content img {
  width: 100%;
  margin-top: 20px;
  display: block;
  border-radius: 6px;
  margin-bottom: 15px;
}

input, textarea {
  width: 90%;
  font-size: 15px;
  margin-bottom: 12px;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  height: 80px;
}

.submit-btn {
  display: block;
  margin: 1rem auto 0;
  padding: 10px;
  background-color: #a184d8;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover{
  background-color: #d184d8;

}

.success-msg {
  color: green;
  text-align: center;
  font-weight: bold;
}
