/* Home.css and About.css can be shared */

.home-container, .about-container {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
}

.home-buttons {
  margin-top: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #222;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
  background-color: red;
  font-size: larger;
}
