.navbar {
  padding: 15px 20px;
  background: #db0e07;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px 10px;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #aa0f0a;
}

.logout-btn {
  background-color: purple;
  border: none;
  padding: 20px 14px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  opacity: 0.8;
}

.nav-right {
  display: flex;
  align-items: center;
}
