.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content-details {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content-form {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.modal-content img {
  width: 100%;
  margin-top: 20px;
  display: block;
  border-radius: 6px;
  margin-bottom: 15px;
}

.close-btn {
  color: red;
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

input, textarea {
  width: 90%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  width: 30%;
  padding: 10px;
  background-color: #67dc35ff;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.success-msg {
  color: green;
  text-align: center;
  font-weight: bold;
}
