.chart{
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 20px;
    border-radius: 10px;


    .chart-title{
        font-size: 30px;
        font-weight: bold;
        color: #999;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}

@media (max-width: 768px) {
    .chart{

    .chart-title{
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
    }}
}

@media (max-width: 480px) {
    .chart{

    .chart-title{
        font-size: 8px;
        margin-top: 3px;
        margin-bottom: 5px;
    }}
}
