.widgets, .charts{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.charts{
    padding: 5px 20px;

    .recentRev{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        padding: 20px;
        border-radius: 10px;

        .rtitle{
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #999;
        }

    }
}

.tableContainer{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

    .tableTitle{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #999;
    }
}

@media (max-width: 768px) {
    .widgets, .charts{
        flex-direction: column;
    }   
}

@media (max-width: 1100px) {
    .widgets, .charts{
        flex-direction: column;
}

}