.table{

    .headCell{
        font-weight: bold;
        color: gray;
    }

    .cellWrapper{
        display: flex;
        align-items: center;

        .image{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    span{
        text-transform: capitalize;
    }

    .status{
        padding: 5px;
        border-radius: 5px;

        &.approved{
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }
        
        &.pending{
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
        }
        
        &.rejected{
            color: rgb(218, 38, 32);
            background-color: rgba(189, 3, 3, 0.103);
        }
    }

    .icon{
        font-size: 30px;
    }
}

.addButton{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    padding: 10px 14px;
    background-color: #a184d8;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;

    &:hover {
        background-color: #d398faae;
    }
}