.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 15px;
            color: rgb(160, 159, 159);
        }

        .counter{
            font-size: 28px;
            font-weight: bold;
        }

        .link{
            width: max-content;
            font-size: 15px;
        }

        .icon{
            font-size: 80px;
            padding: 5px;
            border-radius: 25px;
            align-self: center;
        }
    }
}